/*
  Animations
*/

@keyframes PLACEHOLDER {
  0% {
    height: 1px;
  }

  100% {
    height: 15px;
  }
}

@keyframes DRAG_GHOST {
  0% {
    box-shadow: 0 0 0 0 $black;
    background-color: darken($white, 5%);
  }

  100% {
    background-color: $white;
    box-shadow: 0 3px 8px 0 $black;
  }
}

@keyframes EDIT_PULSE {
  from, to {
    border-color: $input-focus;
  }

  50% {
    border-color: lighten($input-focus, 20%);
  }
}
