.pill-buttons > button {
  border-radius: 50px;
}

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid $gray-lighter;
}

.f-field-group {
  flex-wrap: wrap;

  label + .badge {
    margin-left: 10px;
  }

  > label {
    display: inline-block;
    margin-bottom: 10px;
  }

  button {
    margin-right: 5px;
  }
}

select {
  @extend %input-style;
}

input {
  @extend %input-style;

  &[type='date'] {
    max-width: 280px;
    display: block;
  }

  &[type='checkbox'],
  &[type='radio'] {
    @extend %checkbox;
  }

  &[type='radio'] {
    + .checkable::before {
      border-radius: 2em;
    }

    &:checked + .checkable::after {
      content: '';
      background: $gray;
      transform: scale(0.5) translate(0, -100%);
      border-radius: 50%;
    }
  }
}

textarea {
  @extend %input-style;

  height: auto;
}

button {
  @extend %button-style;

  line-height: 1.5em;

  @include states;
}

.f-addon {
  @extend %input-style;

  width: auto;

  label {
    margin: 1px 0 0 3px;
  }

  &:last-child {
    margin-left: -1px;
  }
}

.f-btn-group {
  display: inline-flex;
  vertical-align: middle;

  > button {
    flex: 0 1 auto;

    &:not(:first-child):not(:last-child):not(.dropdown-toggle) {
      border-radius: 0;
    }

    &:last-child:not(:first-child):not(.dropdown-toggle) {
      border-bottom-left-radius: 0;
      border-top-left-radius: 0;
    }

    &:first-child {
      margin-left: 0;
    }

    &:first-child:not(:last-child):not(.dropdown-toggle) {
      border-bottom-right-radius: 0;
      border-top-right-radius: 0;
    }
  }

  button + button,
  button + .f-btn-group,
  .f-btn-group + button,
  .f-btn-group + .f-btn-group,
  .f-btn-group-vertical button + button,
  .f-btn-group-vertical button + .f-btn-group,
  .f-btn-group-vertical .f-btn-group + button,
  .f-btn-group-vertical .f-btn-group + .f-btn-group {
    margin-left: -1px;
  }
}

.f-radio,
.f-checkbox {
  margin-bottom: 5px;
}

.f-input-group {
  @extend %display-row;

  display: inline-flex;
  vertical-align: bottom;

  input + input,
  input + select,
  select + select {
    margin-left: -1px;
  }

  select {
    -webkit-appearance: none;
    background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPCEtLSBHZW5lcmF0ZWQgYnkgSWNvTW9vbi5pbyAtLT4KPCFET0NUWVBFIHN2ZyBQVUJMSUMgIi0vL1czQy8vRFREIFNWRyAxLjEvL0VOIiAiaHR0cDovL3d3dy53My5vcmcvR3JhcGhpY3MvU1ZHLzEuMS9EVEQvc3ZnMTEuZHRkIj4KPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHdpZHRoPSIyNCIgaGVpZ2h0PSIzMiIgdmlld0JveD0iMCAwIDI0IDMyIj4KPHBhdGggZmlsbD0iIzQ0NCIgZD0iTTAgMTJsMTEuOTkyIDExLjk5MiAxMS45OTItMTEuOTkyaC0yMy45ODR6Ij48L3BhdGg+Cjwvc3ZnPgo=');
    background-position: right 10px top 2px;
    background-repeat: no-repeat;
    background-size: 16px;
  }

  .f-addon,
  input,
  select {
    flex: 0 1 auto;

    // border-width: 1px 1px 1px 0;
    border-radius: 0;

    &:last-child {
      border-right-width: 1px;
      border-radius: 0 $input-border-radius $input-border-radius 0;
    }

    &:first-child {
      border-radius: $input-border-radius 0 0 $input-border-radius;
      border-left-width: 1px;
    }

    &:focus {
      + input,
      + select {
        border-left: 1px solid $input-focus;
      }
    }
  }
}

.text- {
  &primary {
    color: $brand-primary;
  }

  &success {
    color: $brand-success;
  }

  &warning {
    color: $brand-warning;
  }

  &error {
    color: $brand-error;
  }
}
