.pill-buttons > button {
  border-radius: 50px;
}

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid $gray-lighter;
}

.f-field-group {
  flex-wrap: wrap;

  label + .badge {
    margin-left: 10px;
  }

  > label {
    display: inline-block;
    margin-bottom: 10px;
  }

  button {
    margin-right: 5px;
  }
}

select {
  @extend %input-style;
}

input {
  @extend %input-style;

  &[type='date'] {
    max-width: 280px;
  }

  &[type='checkbox'],
  &[type='radio'] {
    @extend %checkbox;
  }

  &[type='radio'] {
    + .checkable:before {
      border-radius: 50%;
    }

    &:checked + .checkable:after {
      content: '';
      background: $gray;
      transform: scale(0.5) translateY(-100%);
      border-radius: 50%;
    }
  }
}

textarea {
  @extend %input-style;

  height: auto;
}

button {
  @extend %button-style;

  @include states;
}

.f-btn-group {
  display: inline-flex;
  vertical-align: middle;

  > button {
    flex: 0 1 auto;

    &:not(:first-child):not(:last-child):not(.dropdown-toggle) {
      border-radius: 0;
    }

    &:last-child:not(:first-child):not(.dropdown-toggle) {
      border-bottom-left-radius: 0;
      border-top-left-radius: 0;
    }

    &:first-child {
      margin-left: 0;
    }

    &:first-child:not(:last-child):not(.dropdown-toggle) {
      border-bottom-right-radius: 0;
      border-top-right-radius: 0;
    }
  }

  button + button,
  button + .f-btn-group,
  .f-btn-group + button,
  .f-btn-group + .f-btn-group,
  .f-btn-group-vertical button + button,
  .f-btn-group-vertical button + .f-btn-group,
  .f-btn-group-vertical .f-btn-group + button,
  .f-btn-group-vertical .f-btn-group + .f-btn-group {
    margin-left: -1px;
  }
}

.f-radio,
.f-checkbox {
  margin-bottom: 5px;
}

.f-input-group {
  @extend %display-row;

  display: inline-flex;
  vertical-align: bottom;

  input + input,
  input + select,
  select + select {
    margin-left: -1px;
  }

  input,
  select {
    // border-width: 1px 1px 1px 0;
    border-radius: 0;

    &:last-child {
      border-right-width: 1px;
      border-radius: 0 $input-border-radius $input-border-radius 0;
    }

    &:first-child {
      border-radius: $input-border-radius 0 0 $input-border-radius;
      border-left-width: 1px;
    }

    &:focus {
      + input,
      + select {
        border-left: 1px solid $input-focus;
      }
    }
  }
}
