/*
  Mixins
*/

@mixin breakpoint($point) {
  @if $point == phone-sm {
    // smartphones, portrait iPhone, small portrait Android
    @media (max-width: 320px) {
      @content;
    }
  }

  @else if $point == phone-lrg {
    // smartphones, Android phones, landscape iPhone
    @media (max-width: 481px) {
      @content;
    }
  }

  @else if $point == tablet-sm {
    // portrait tablets, portrait iPad, e-readers (Nook/Kindle), smaller landscape Android
    @media (max-width: 641px) {
      @content;
    }
  }

  @else if $point == tablet-md {
    // tablet, landscape iPad, lo-res laptops ands desktops
    @media (max-width: 961px) {
      @content;
    }
  }

  @else if $point == tablet-lrg {
    // big landscape tablets, laptops, and desktops
    @media (max-width: 1025px) {
      @content;
    }
  }

  @else if $point == tablet-lrg {
    // hi-res laptops and desktops
    @media (max-width: 1281px) {
      @content;
    }
  }

  @else {
    @media (max-width: $point) {
      @content;
    }
  }
}

@mixin custom-scroll($trackColor, $thumbColor) {
  // Let's get this party started
  &::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }

  // Track
  &::-webkit-scrollbar-track {
    background-color: $trackColor;
  }

  // Handle
  &::-webkit-scrollbar-thumb {
    background: $thumbColor;
  }

  &::-webkit-scrollbar-thumb:window-inactive {
    background: $thumbColor;
  }

  overflow: auto;
}

%no-list-style {
  margin: 0;
  padding: 0;
  list-style: none;
}

%element-tag {
  font-size: 12px;
  position: absolute;
  top: 0;
  width: 0;
  padding: 0;
  line-height: 24px;
  text-align: center;
  overflow: hidden;
  z-index: 100;
  transition-property: width;
  transition-duration: 150ms;
  content: attr(data-hover-tag);
  background-color: $white;
}

%field-control {
  cursor: move;
  list-style: none;
  margin: -1px 0 0;
  border: 1px solid $gray-lighter;
  text-align: left;
  background: $white;
  user-select: none;

  &.control-moving {
    border-radius: $border-radius;
    animation: DRAG_GHOST 500ms forwards;
  }

  &:before {
    margin-right: 10px;
    font-size: 16px;
  }

  &:hover {
    background-color: darken($white, 5%);
  }

  button {
    display: block;
    height: 100%;
    width: 100%;
    background: transparent;
    border: 0;
    text-align: left;
    padding: 10px;
  }

  svg,
  .glyphicon {
    float: left;
    margin-right: 10px;
  }

  .glyphicon {
    display: inline-block;
    text-align: center;
    width: 24px;
    height: 24px;
    line-height: 20px;
  }
}

@mixin clearfix {
  &:after {
    content: '';
    display: table;
    clear: both;
  }
}
