/*
  Mixins
*/

@mixin breakpoint($point) {
  @if $point == phone-sm {
    /* smartphones, portrait iPhone, small portrait Android */
    @media (max-width: 320px) {
      @content;
    }
  }

  @else if $point == phone-lrg {
    /* smartphones, Android phones, landscape iPhone */
    @media (max-width: 481px) {
      @content;
    }
  }

  @else if $point == tablet-sm {
    /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), smaller landscape Android */
    @media (max-width: 641px) {
      @content;
    }
  }

  @else if $point == tablet-md {
    /* tablet, landscape iPad, lo-res laptops ands desktops */
    @media (max-width: 961px) {
      @content;
    }
  }

  @else if $point == tablet-lrg {
    /* big landscape tablets, laptops, and desktops */
    @media (max-width: 1025px) {
      @content;
    }
  }

  @else if $point == tablet-lrg {
    /* hi-res laptops and desktops */
    @media (max-width: 1281px) {
      @content;
    }
  }

  @else {
    @media (max-width: $point) {
      @content;
    }
  }
}

@mixin custom-scroll($trackColor, $thumbColor) {
  /* Let's get this party started */
  &::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background-color: $trackColor;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: $thumbColor;
  }

  &::-webkit-scrollbar-thumb:window-inactive {
    background: $thumbColor;
  }

  overflow: auto;
}

%no-list-style {
  margin: 0;
  padding: 0;
  list-style: none;
}

%field-control {
  cursor: move;
  list-style: none;
  margin: -1px 0 0;
  border: 1px solid $grey-lighter;
  padding: 10px;
  text-align: left;
  background: $white;
  user-select: none;
  font-size: 1em;
  line-height: 1.5em;

  &.control-moving {
    border-radius: 5px;
    opacity: .95 !important;
    animation: DRAG_GHOST 500ms forwards;
  }

  &:before {
    margin-right: 10px;
    font-size: 16px;
  }

  &:hover {
    background-color: darken($white, 5%);
  }

  svg {
    float: left;
    margin-right: 10px;
  }

  &.control-ghost {
    opacity: .5;
  }

  &.chosen-ghost {
    opacity: 1;
  }
}

@mixin clearfix {
  &:after {
    content: '';
    display: table;
    clear: both;
  }
}
