@import 'base/variables';
@import 'base/bootstrap/bootstrap';
@import 'base/icons';
@import 'base/mixins';
@import 'base/animation';
@include clearfix;
.formeo {

  &.formeo-editor{
    @import 'components/controls';
    @import 'components/stage';
  }

  &.formeo-render{
    .row {
      min-height:75px;
    }
    .f-input-group {
      position:relative;
      &:first-child{
        .remove-input-group{
          display:none;
        }
      }
      .remove-input-group {
        position: absolute;
        left: -32px;
        transform: translate(0, -50%);
        width: 32px;
        height: 32px;
        top: 50%;
        border: 0 none;
        background: transparent;
        outline:0 none;
        &:hover{
          .svg-icon{
            fill: $brand-danger;
          }
        }
        .svg-icon {
          pointer-events: none;
        }
      }
    }
    .svg-icon{
      max-width:100%;
      max-height:100%
    }
    .rendered-column{
      padding: 0 5px;
    }
  }
}
