@import 'base/variables';
@import 'base/animation';
@import 'base/mixins';
@import 'base/icons';

.formeo {
  * {
    box-sizing: inherit;
  }

  @import 'base/bs';

  @include clearfix;

  &.formeo-editor {
    @import 'components/stage';
    @import 'components/controls';

    @import 'base/rtl';
  }

  &.formeo-render {
    @import 'render';
  }
}

.field-control {
  @extend %field-control;

  .svg-icon {
    pointer-events: none;
  }
}
