.formeo {
  @import 'base/variables';
  @import 'base/bootstrap/bootstrap';
  @import 'base/icons';
  @import 'base/mixins';
  @import 'base/animation';
  @import 'components/controls';
  @import 'components/stage';

  @include clearfix;

  // Sets a specific default `font-size` for user with `rem` type scales.
  font-size: $font-size-root;

  // Make the `body` use the `font-size-root`
  font-family: $font-family-base;
  line-height: $line-height;

  // Go easy on the eyes and use something other than `#000` for text
  color: $body-color;
}


.rendered-stage .row{
  min-height:60px;
}
