{
  "parser": "babel-eslint",
  "extends": [
    "eslint:recommended",
    "standard",
    "plugin:jest/recommended",
    "prettier"
  ],
  "plugins": [
    "standard",
    "jest",
    "prettier"
  ],
  "rules": {
    "no-console": 0,
    "no-debugger": 0,
    "prefer-const": [
      1,
      {
        "destructuring": "any",
        "ignoreReadBeforeAssign": false
      }
    ]
  }
}
