.wy-nav-content {
  max-width: 1010px;
}

pre {
  color: #f8f8f2 !important;
  background-color: #23241f !important;
}

code {
  padding: 3px 5px !important;
}

p {
  line-height: 1.7em !important;
}

.wy-menu-vertical ul {
  padding-left: 0;
}

.wy-side-nav-search > a {
  font-size: 200%;
}
