.stage-columns {
  transition: background-color 125ms ease-in-out, box-shadow 125ms, width 250ms;
  position: relative;
  background-color: $white;
  max-width:none;
  flex-direction: column;
  // display: flex;
  flex: auto;

  &[class*='col-'] {
    padding: 0;
  }

  @extend %no-list-style;

  &:first-of-type {
    border-top-right-radius: 5px;
  }

  &:last-of-type {
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;

    .resize-x-handle {
      display: none !important;
    }
  }

  .resize-x-handle {
    display: none;
    position: absolute;
    right: -4px;
    top: 0;
    bottom: 0;
    width: 6px;
    border: 4px dotted $white;
    z-index: 1;
    cursor: ew-resize;
  }

  &:before {
    padding: 0 10px;
    left: 50%;
    transform: translateX(12px);
  }

  &.hovering-column {
    &:first-child {
      border-top-left-radius: 0;
    }

    .stage-fields {
      opacity: .5;
    }
  }

  &.editing-column,
  &.hovering-column {
    box-shadow: 0 0 0 1px $column-outline-color inset;

    // border: 1px solid $column-outline-color;

    &:before {
      line-height: 23px !important;
      width: 68px !important;
      border-right: 1px solid $column-outline-color;
      border-bottom: 1px solid $column-outline-color;
    }
  }

  &.editing-column {
    overflow: hidden;

    .column-edit {
      display: block;
    }
  }

  &.empty-columns{
    min-height:75px;
    &::after{
      margin-top: 11px;
    }
  }
}

.stage-wrap{
.editing-row {
  .stage-columns,
  .empty-columns {
    display: table-cell;
    border-radius: 5px;
    height: 60px;
    background-color: $gray-light;


    &.empty-columns{
      min-height:0;
    }


    .stage-fields {
      display: none;
    }

    .resize-x-handle {
      display: block;
    }

    &::after {
      color: $gray-dark !important;
      line-height: 1em;
      opacity: 1;
      font-size: 1.1em;
      content: attr(data-col-width) !important;
      display: block;
      width: 100%;
      text-align: center;
      position: absolute;
      left: 50%;
      margin-top: 0;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }
}
}
