.pill-buttons > .btn {
  border-radius: 50px;
}

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid $gray-lighter;
}

.form-group {
  label + .badge {
    margin-left: 10px;
  }
}
