.pill-buttons > .btn {
  border-radius: 50px;
}

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid $gray-lighter;
}

.form-group {
  label + .badge {
    margin-left: 10px;
  }
}

.yearSelect-wrapper {
  text-align: center;
}

[type='date'].form-control {
  max-width: 280px;
}

.yearSelect {
  padding: 0 10px 0 0;
}
