.field-edit {
  margin-top: 23px;
  display: none;
  overflow: hidden;

  label {
    font-size: .85em;
  }

  .panel-nav {
    margin-bottom: 0;
    padding: 0;
    overflow: hidden;
  }

  &.field-edit-options {
    list-style: decimal;
  }

  .prop-controls {
    display: inline-block;
    width: 31px;
    height: 31px;
    text-align: right;
    position: absolute;
    right: 0;
    bottom: 0;
    overflow: hidden;
    white-space: nowrap;

    .svg-icon {
      width: 15px;
      height: 15px;
    }
  }

  .prop-control {
    display: inline-block;
    padding: 5px;
    line-height: 0;
    text-align: center;
    position: absolute;
    right: 0;
    bottom: 0;
    border-radius: $border-radius;

    @for $i from 1 through 4 {
      &:nth-of-type(#{$i}) {
        right: $i * $prop-btn-width - $prop-btn-width - 1;
      }
    }

    &:first-child {
      right: 0;
    }

    :not(.control-count-1) & {
      &:last-child {
        border-radius: $border-radius 0 0 $border-radius;
      }

      &:first-child {
        border-radius: 0 $border-radius $border-radius 0;
      }
    }
  }

  .prop-wrap {
    position: relative;
    padding-right: 34px;
    margin-bottom: 10px;
  }

  .field-edit-group {
    padding: 10px;
  }

  .prop-inputs,
  .prop-controls {
    transition: width 150ms;
    will-change: width;
  }

  .prop-inputs {
    width: 100%;

    .form-group {
      margin-bottom: 0;
    }
  }

  .control-count-2 {
    .prop-controls {
      &:hover {
        width: 62px;

        & + .prop-inputs {
          width: calc(100% - 31px);
        }
      }
    }
  }

  &.panel-count-1 {
    .panel-nav {
      border-bottom: 1px solid $gray-light;

      .btn {
        display: none;
      }
    }

    .panel-labels {
      background-color: transparent;
    }
  }
}

.field-edit-group {
  @extend %no-list-style;
}

.options-panel {
  .prop-wrap {
    margin-bottom: 10px;
  }

  .input-group {
    .form-control {
      width: 50%;
    }
  }

  .input-group-addon {
    line-height: 0;

    // min-width: 88px;

  }

  .prop-labels {
    padding: 10px 34px 10px 10px;

    .input-group-addon {
      font-size: 12px;
    }

    label {
      font-size: 12px;
      width: 50%;
      position: relative;
      display: table-cell;
    }
  }

  .prop-label-selected,
  .prop-label-disabled {
    width: 1% !important;
    white-space: nowrap;
    vertical-align: middle;
    border: 0 none;
    background-color: transparent;
  }
}

.add-remove-attrs {
  padding: 10px;
  float: right;
}
