.formeo-field {
  min-height: $icon-size;
  position: relative;
  padding: space();
  transition: background-color $animation-speed-base ease-in-out, box-shadow $animation-speed-base ease-in-out;
  list-style: none;
  margin: 0;
  will-change: box-shadow; // for highlight

  &:last-child {
    border-bottom-right-radius: $input-border-radius;
    border-bottom-left-radius: $input-border-radius;
  }

  &.first-field {
    border-top-right-radius: $input-border-radius;

    .field-actions {
      border-top-right-radius: $input-border-radius;
    }
  }

  &.last-field {
    border-bottom-right-radius: $input-border-radius;
    border-bottom-left-radius: $input-border-radius;
  }

  .prev-label {
    min-height: $icon-size;
    max-width: calc(100% - #{$icon-size});
    display: flex;
    align-items: flex-end;
    margin-bottom: $input-border-radius;
  }

  [contenteditable] {
    padding: 1px 2px;
    user-select: text;
    display: inline-block;
    position: relative;
    min-width: $icon-size;

    &::after {
      content: '';
      width: 100%;
      position: absolute;
      bottom: 0;
      left: 0;
      border-bottom: 1px dashed $gray-lighter;
    }

    &:focus {
      border-radius: $input-border-radius;
      border-bottom-color: transparent;
      outline: none;
      box-shadow: 0 0 0 1px $input-focus inset;
      &::after {
        display: none;
      }
    }
  }

  .form-check {
    margin-left: 1.25em;
  }

  .form-check-input:only-child {
    position: absolute;
  }

  &::before {
    @extend %element-tag;

    display: none;

    // remove to animate field title
    position: absolute;
    top: 0;
    padding: 0 10px;
    right: 0;
    transform: translateX(-(3 * $action-btn-width));
    border-bottom-right-radius: 0;
    border-bottom-left-radius: $border-radius;
  }

  &.field-type-hidden {
    border: 1px dashed $gray-lighter;
  }
}

.editing-field,
.hovering-field {
  box-shadow: 0 0 0 1px $field-outline-color inset;

  &::before {
    border-left: 1px solid $field-outline-color;
    border-bottom: 1px solid $field-outline-color;
  }
}
.field-actions {
  border-color: transparent;
  border-width: 1px 1px 0 0;
  border-style: solid;
}

.field-moving {
  box-shadow: 0 0 0 1px $field-outline-color inset, 0 0 30px 0 $gray-light;
  background-color: $white;
}

.editing-field {
  background-color: $gray-lightest;
  z-index: 1;
}

.editing-field-preview {
  .field-actions {
    display: none;
  }
}

.field-preview {
  p {
    white-space: normal;
  }
}
