.stage-field {
  position: relative;
  padding: 5px;
  transition: background-color 125ms ease-in-out;

  &:hover {
    // box-shadow: 0 0 0 1px $field-outline-color inset;

    .group-actions {
      display: block;
    }
  }

  &.first-field {
    border-top-right-radius: $border-radius;
    border-top-left-radius: $border-radius;
  }

  &.last-field {
    border-bottom-right-radius: $border-radius;
    border-bottom-left-radius: $border-radius;
  }

  [contenteditable] {
    transition: border-color 250ms;
    border-bottom: 1px dashed $gray-lighter;
    padding: 0 10px 0 0;

    &:focus {
      border-style: solid;
      border-color: $input-focus;
      border-width: 0 0 1px 0;
      outline: none;
    }
  }

  &:before {
    display: none;

    // remove to animate field title
    position: absolute;
    top: 0;
    padding: 0 10px;
    right: 0;
    transform: translateX(-(3 * $field-btn-width));
    border-bottom-right-radius: 0;
    border-bottom-left-radius: $border-radius;
  }

  &.editing-field,
  &.hovering-field {
    box-shadow: 0 0 0 1px $field-outline-color inset;

    // border: 1px solid $field-outline-color;

    &:before {
      line-height: 23px !important;
      width: 68px !important;
      border-left: 1px solid $field-outline-color;
      border-bottom: 1px solid $field-outline-color;
    }
  }

  &.editing-field {
    background-color: $gray-lightest;
  }
}

.field-preview {
  p {
    white-space: normal;
  }
}
