.stage-fields {
  min-height: 24px;
  position: relative;
  padding: 5px;
  transition: background-color 125ms ease-in-out;

  &:hover {
    // box-shadow: 0 0 0 1px $field-outline-color inset;

    .group-actions {
      display: block;
    }
  }

  &.first-field {
    border-top-right-radius: $border-radius;
    border-top-left-radius: $border-radius;
  }

  &.last-field {
    border-bottom-right-radius: $border-radius;
    border-bottom-left-radius: $border-radius;
  }

  [contenteditable] {
    padding: 1px 1px 0;
    transition: border-color 250ms;
    border-bottom: 1px dashed $gray-lighter;

    &:focus {
      border: 1px solid $input-focus;
      outline: none;
      padding: 0;
    }
  }

  .checkbox,
  .radio {
    [contenteditable] {
      margin-left: 1.25em;
      padding: 0;
    }

    .form-check-input:only-child {
      position: absolute;
    }
  }

  &::before {
    display: none;

    // remove to animate field title
    position: absolute;
    top: 0;
    padding: 0 10px;
    right: 0;
    transform: translateX(-(3 * $field-btn-width));
    border-bottom-right-radius: 0;
    border-bottom-left-radius: $border-radius;
  }

  &.editing-field,
  &.hovering-field {
    box-shadow: 0 0 0 1px $field-outline-color inset;

    &::before {
      line-height: 23px !important;
      width: 68px !important;
      border-left: 1px solid $field-outline-color;
      border-bottom: 1px solid $field-outline-color;
    }
  }

  &.editing-field {
    background-color: $gray-lightest;
    z-index: 1;
  }

  &.editing-field-preview {
    .field-actions {
      display: none;
    }
  }
}

.field-preview {
  p {
    white-space: normal;
  }
}
