.group-actions {
  width: $field-btn-width;
  height: $field-btn-width;
  overflow: hidden;
  position: absolute;
  top: 0;
  line-height: 0;
  z-index: 1;

  button {
    width: $field-btn-width;
    height: $field-btn-width;
    padding: 6px;
    border: 0 none;
    line-height: 0;
    overflow: hidden;

    &:focus {
      border: 0 none;
      outline: 0 none;
    }
  }

  .svg-icon {
    width: 12px;
    height: 12px;
  }

  .icon-handle {
    opacity: .5;
  }

  .last-field & {
    button {
      &:last-child {
        border-radius: 0;
      }
    }
  }

  .icon-menu,
  .icon-move,
  .icon-move-vertical {
    display: none;
  }
}

.column-editing-field {
  .column-actions {
    display: none;
  }
}

.stage-field {
  &.hovering-field,
  &.editing-field {
    .field-actions {
      width: (3 * $field-btn-width) !important;
      border-color: $field-outline-color;
      border-width: 0 0 1px 1px;
      border-style: solid;
    }
  }
}

.hovering-column,
.hovering-row {
  .field-actions {
    display: none;
  }
}

.field-actions {
  right: 0;
  text-align: right;
  transition: width .15s;
  border-bottom-left-radius: $border-radius;
  border-bottom-right-radius: 0;

  button {
    border-radius: 0;
    position: absolute;

    @for $i from 1 through 3 {
      &:nth-of-type(#{$i}) {
        right: $i * $field-btn-width - $field-btn-width;
      }
    }

    // margin-right: -2px;

    &:first-child {
      right: 0;
    }
  }

  padding-right: 2px;
}

.group-config {
  display: none;
  padding: .5rem;
}

.editing-row {
  .column-actions {
    display: none;
  }
}

.column-actions {
  width: $field-btn-width;
  height: $field-btn-width;
  padding: 0;
  right: 50%;
  transform: translateX(12px);
  z-index: 1;
  transition: width .15s;

  .action-btn-wrap {
    position: relative;
    white-space: nowrap;
  }

  button {
    position: absolute;
    background-color: transparent;

    @for $i from 1 through 3 {
      &:nth-of-type(#{$i}) {
        right: $i * $field-btn-width - $field-btn-width;
      }
    }

    &:first-child {
      right: 0;
    }
  }

  button {
    margin-bottom: 1px;
    border-radius: 0;

    &:first-child {
      border-bottom-right-radius: 0;

      .hovering-column & {
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
      }
    }

    &:last-child {
      .hovering-column & {
        border-bottom-left-radius: $border-radius;
      }
    }
  }
}

.hovering-column,
.editing-column {
  .column-actions {
    width: 3 * $field-btn-width;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: $border-radius;
    border-width: 0 0 1px 1px;
    border-style: solid;
    border-color: $column-outline-color;
    background-color: $white;

    button {
      &:first-child {
        border-bottom-right-radius: 0;
        right: 0;
      }
    }
  }
}

.row-actions {
  width: $field-btn-width;
  height: $field-btn-width;
  left: -25px;
  text-align: right;
  border-bottom-left-radius: $border-radius;
  transition: height 150ms ease-in-out;
  white-space: normal;

  .row-handle {
    .icon-handle {
      transform: rotate(90deg);
    }
  }

  button {
    margin-bottom: 1px;
    border-radius: 0;

    &:first-child {
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;

      .hovering-row &,
      .editing-row & {
        border-bottom-left-radius: 0;
      }
    }

    &:last-child {
      border-bottom-left-radius: 5px;
    }
  }
}

.hovering-row,
.editing-row {
  .row-actions {
    height: 80px;

    button {
      &:first-child {
        border-bottom-left-radius: 0;
      }
    }
  }
}

[class*='hovering-'] {
  > .group-actions {
    .svg-icon {
      &.icon-menu,
      &.icon-move,
      &.icon-move-vertical {
        display: inline-block !important;
      }

      &.icon-handle {
        display: none !important;
      }
    }
  }
}
