.stage-row,
.field-control {
  @include clearfix;

  position: relative;
  clear: both;
  margin-left: 0;
  margin-bottom: 6px;
  background-color: $white;
  padding: 5px;
  flex-direction: row;
  display: flex;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-content: stretch;
  align-items: stretch;

  &::after {
    clear: both;
  }

  &.hidden-field {
    background-color: $hidden-field;
  }

  &.control-ghost {
    padding: 10px;
  }

  &:first-child {
    border-top-right-radius: 5px;
    border-top-left-radius: 0;
  }

  &:last-child {
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
  }

  &.hovering-row {
    &:first-child {
      border-top-left-radius: 0;
    }

    .stage-row {
      &::before {
        width: 100px;
      }
    }

    .stage-column {
      opacity: .5;
    }
  }

  &.editing-row {
    display: block;

    .row-edit {
      display: block;
    }
  }

  &.resizing-columns {
    .stage-column {
      transition: none;
    }
  }
}

.stage-row {
  transition: background-color 125ms ease-in-out;

  &::before {
    left: 0;
  }

  &.editing-row {
    &.hovering-row {
      .stage-column {
        opacity: 1;
      }
    }
  }

  &.editing-row,
  &.hovering-row {
    box-shadow: 0 0 0 1px $row-outline-color inset;

    &::before {
      border-bottom: 1px solid $row-outline-color;
      border-right: 1px solid $row-outline-color;
      width: 80px !important;
    }
  }
}
