.stage-rows {
  @include clearfix;

  position: relative;
  clear: both;
  margin-left: 0;
  margin-bottom: 6px;
  background-color: $white;
  padding: 5px;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-content: stretch;
  align-items: stretch;
  min-height: 34px;

  &::after {
    clear: both;
  }

  &.control-ghost {
    padding: 10px;
  }

  &:first-child {
    border-top-right-radius: 5px;
    border-top-left-radius: 0;
  }

  &:last-child {
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
  }

  &.hovering-row {
    &:first-child {
      border-top-left-radius: 0;
    }

    &::before {
      width: 100px;
    }

    .stage-columns {
      opacity: 0.5;
    }
  }

  &.editing-row {
    display: block;

    .row-edit {
      display: block;
    }
  }

  &.resizing-columns {
    .stage-columns {
      transition: none;
    }
  }
}

.stage-rows {
  transition: background-color 125ms ease-in-out;
  display: flex;

  &::before {
    @extend %element-tag;

    border-bottom-right-radius: $border-radius;
    left: 0;
  }

  &.editing-row {
    &.hovering-row {
      .stage-columns {
        opacity: 1;
      }
    }
  }

  &.editing-row,
  &.hovering-row {
    box-shadow: 0 0 0 1px $row-outline-color inset;

    &::before {
      border-bottom: 1px solid $row-outline-color;
      border-right: 1px solid $row-outline-color;
      width: 80px !important;
    }
  }

  &.empty-rows {
    &::after {
      left: 0;
      transform: translate(10px, -50%);
    }
  }

  .layout-row-control {
    display: none;
  }
}
