@import 'components/group-actions';
@import 'components/row';
@import 'components/row-edit';
@import 'components/column';
@import 'components/field';
@import 'components/field-edit';
@import 'components/panels';

.stage-wrap {
  position: relative;
  float: left;
  width: calc(74% - 5px);
  box-sizing: border-box;
  transition: width 250ms;
  margin-right: 5px;

  @include breakpoint('phone-lrg') {
    width: calc(100% - 50px);
  }


  .stage {
    @extend %no-list-style;

    min-height: 450px;
    transition-property: background-color, border-color;
    transition-duration: 500ms, 333ms;
    border: 0 dashed transparent;
    background-color: $stage-background;
    padding-left: 25px;
    padding-bottom: 15px;

    &.empty-stages {
      border: 3px dashed $gray-lighter;
      background-color: $stage-background-empty;
    }

    &.removing-all-fields {
      overflow: hidden;

      .stage-rows {
        transition: margin-top 250ms ease-in;
      }
    }
  }

  .field-control {
    @extend %field-control;

    margin-bottom: 5px;

    &.sortable-ghost {
      opacity: 1;
    }
  }

  .stage-columns,
  .stage-rows,
  .stage-fields {
    &::before {
      font-size: 12px;
      position: absolute;
      top: 0;
      width: 0;
      padding: 0;
      line-height: 24px;
      text-align: center;
      overflow: hidden;
      z-index: 100;
      transition-property: width;
      transition-duration: 150ms;
      content: attr(data-hover-tag);
      border-bottom-right-radius: 5px;
      background-color: $white;
    }
  }

  [class*="empty-"] {
    &[class*="editing-"]{
      &::after {
        opacity: 0;
      }
    }
    &::after {
      opacity: 1;
      font-size: 24px;
      position: absolute;
      top: 50%;
      left: 50%;
      color: $gray-light;
      // color: $black;
      text-align: center;
      transform: translate(-50%, -50%);
      content: attr(data-hover-tag);
    }
  }

  &.editing-stage {
    .formeo-settings {
      display: block;
    }

    .stage {
      display: none;
    }
  }
  // .layout-column-control{
  //   display:none;
  // }
  .form-group{
    margin-bottom:0;
  }
}

.formeo-settings {
  display: none;
}
