@import './group-actions';
@import './row';
@import './row-edit';
@import './column';
@import './field';
@import './field-edit';

.highlight-component {
  box-shadow: 0 0 space() 2px $brand-info;
}

.formeo-stage {
  @include breakpoint('phone-lrg') {
    width: calc(100% - 50px);
  }
  width: 73%;
  box-sizing: border-box;
  transition: width 250ms;
  margin-right: space();
  flex: 1 1 auto;
  @extend %no-list-style;
  position: relative;
  transition-property: background-color, border-color;
  transition-duration: 500ms, 333ms;
  border: 0 dashed transparent;
  background-color: $stage-background;
  padding-left: $action-btn-width - 1;
  padding-bottom: space(1);
  overflow: visible;

  &.empty {
    border: 3px dashed $gray-lighter;
    background-color: $shadow;
  }

  &.removing-all-fields {
    .formeo-row {
      transition: margin-top 250ms ease-in;
    }
  }

  & > .formeo-field {
    background-color: $white;
  }
}

&.editing-stage {
  .formeo-settings {
    display: block;
  }

  .formeo-stage {
    display: none;
  }
}

.f-field-group {
  margin-bottom: 0;
}
// }

// element label
[class$='empty'] {
  &[class*='editing-'] {
    &::after {
      opacity: 0;
    }
  }

  &::after {
    opacity: 1;
    font-size: 24px;
    position: absolute;
    top: 50%;
    left: 50%;
    color: $gray-light;
    transition: opacity 200ms ease-in-out;
    will-change: opacity;
    text-align: center;
    transform: translate(-50%, -50%);
    content: attr(data-hover-tag);
  }
}

.formeo-settings {
  display: none;
}
