name: Publish

on:
  push:
    branches:
      - main

jobs:
  build:
    env:
      GH_TOKEN: ${{ secrets.GH_TOKEN }}
      GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}
      NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
      CI: true
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          cache: 'npm'
          node-version: 24
      - name: Install dependencies
        env:
          CI: true
        run: npm install
      - name: Test
        run: npm test
      - name: Build
        run: npm run build
      - name: Publish
        if: success()
        run: npx semantic-release
